<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Tag line:</strong>
  <%= @course.tag_line %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Course rating:</strong>
  <%= @course.course_rating %>
</p>

<p>
  <strong>Slope rating:</strong>
  <%= @course.slope_rating %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
